<section class="h">

    <iframe sandbox="allow-forms allow-modals allow-popups allow-scripts allow-same-origin"
        src="https://geyser.fund/widget/project/nge/contribution?view=full&colorMode=dark"
        title="Geyser Project Contribution Widget"
        style="width: 100vw;min-height: 620px; border: none; max-width:400px; background-color: transparent" />

    <h3 class="left medium-compact top">
        You can support the Nostr Game Engine project by contributing to our <a href="https://geyser.fund/project/nge"
            target="_blank">Geyser fundraise</a>.
        <br>
        <br>
        Your contributions are greatly appreciated and will
        help us maintain and improve the engine, ensuring it remains a valuable tool for the Nostr
        ecosystem.
        <br><br>
        <b>Funds will go towards:</b>
        <ul>
            <li>Ongoing development and long‑term maintenance of the engine and its dependencies</li>
            <li>Bounty program to accelerate development and involve developers from the community</li>
            <li>Support for third‑party open‑source libraries used by the engine</li>
        </ul>
    </h3>
</section>