    <div class="milestone $$t$$">
        <card>
            <article>
                <h2>$$title$$</h2>
                <p>
                    <slot></slot>
                </p>
                $$ifdef:img$$
                <img src="$$img$$" />
                $$endif$$
                $$ifdef:vid$$
                <video autoplay muted loop style="filter: saturate(1.2)">
                    <source src="$$vid$$" type="video/webm">
                </video>
                $$endif$$
                $$ifdef:link$$
                <button onclick="document.location.href='$$link$$'">
                   Get $$title$$
                </button>
                $$endif$$
            </article>
        </card>
    </div>