<section>
    <div class="timeline">

        <x-task t="tick">
            Gamer profile over Nostr
        </x-task>

        <x-task fact='<a target="_blank" href="https://github.com/nostr-protocol/nips/blob/master/58.md">NIP-58</a>'>
            Achievements over Nostr
        </x-task>

        <x-task t="tick">
            Matchmaking over Nostr
        </x-task>

        <x-task fact='<a target="_blank" href="https://github.com/nostr-protocol/nips/blob/master/17.md">NIP-17</a>'>
            Player‑to‑player text chat over Nostr
        </x-task>
        <x-task fact='<a target="_blank" href="https://github.com/nostr-protocol/nips/blob/master/28.md">NIP-28</a>'>
            Proximity and area text chat over Nostr
        </x-task>
        <x-task>
            Improve component system with spatial components
        </x-task>
        <x-milestone title="v0.3.x Social" img="imgs/social.webp">
            <p>
                The engine provides modules and abstractions to implement social features in games.
            </p>
        </x-milestone>

    </div>
</section>