<section>
    <div class="timeline">

        <x-task t="tick">
            gamer profile over nostr
        </x-task>

        <x-task fact='<a target="_blank" href="https://github.com/nostr-protocol/nips/blob/master/58.md">nip-58</a>'>
            achievements over nostr
        </x-task>

        <x-task t="tick">
            match-making over nostr
        </x-task>

        <x-task fact='<a target="_blank" href="https://github.com/nostr-protocol/nips/blob/master/17.md">nip-17</a>'>
            player to player text-chat over nostr
        </x-task>
        <x-task fact='<a target="_blank" href="https://github.com/nostr-protocol/nips/blob/master/28.md">nip-28</a>'>
            proximity and area text-chat over nostr
        </x-task>
        <x-task >
            Improve component system with spatial-based components
        </x-task>
        <x-milestone title="v0.3.x SOCIAL"  img="imgs/social.webp">
            <p>
                At this stage the engine provides modules with the tools and abstractions to implement
                social features in games.
            </p>
        </x-milestone>

    </div>
</section>