<section>
    <div class="timeline">

        <x-milestone t="tick" title="FOUNDATION" img="imgs/jme.webp">
            The project starts as a series of modules for the battle-tested <a target="_blank"
                href="https://jmonkeyengine.org">jMonkeyEngine</a>.
            <br>
            A JVM-based high performance, royalty-free, open-source modular game engine.
        </x-milestone>

        <x-task t="tick"
            fact="<a target='_blank' href='https://github.com/NostrGameEngine/nostr4j'>nostr4j</a> standalone library">
            a high-performance nostr client designed for real-time application is developed and
            integrated into the engine
        </x-task>

        <x-task t="tick" fact="<a target='_blank' href='https://ngengine.org/docs/auth/'>nge-auth</a> engine module">
            player authentication via nostr local and remote signers
        </x-task>


        <x-task t="tick"
            fact="<a target='_blank' href='https://ngengine.org/docs/network/'>nge-networking</a> engine module">
            the network stack module is replaced with high-throughput, serverless, encrypted P2P using
            <b>RTC over Nostr signaling</b>, enabling easy development of decentralized games and apps
        </x-task>

        <x-task t="tick" fact="<a target='_blank' href='https://ngengine.org/docs/gui/'>nge-ui</a> engine module">
            Simple GUI module for 2D users interfaces and HUDs
        </x-task>

        <x-milestone t="tick" link="https://github.com/NostrGameEngine/ngengine/releases/tag/0.0" title="v0.0.x NGE"
            img="imgs/nge-v0.gif">
            <p>
                This is the first pre-release of Nostr Game Engine (NGE), which includes the P2P networking and
                essential Nostr
                functionalities,
                including player authentication and profile, event signing, and relay subscription.
            </p>
            <p>
                The P2P network stack enables direct player-to-player connections, using Nostr solely as a
                coordinator, while actual traffic is P2P.
            </p>
            <p>
                Experienced devs can already build on top of this to create decentralized games and apps for:
            </p>
            <ul>
                <li>Windows</li>
                <li>Linux</li>
                <li>MacOS</li>
            </ul>
            <p>
                using jvm based languages.
            </p>
            <p>
                This release is accompanied by a tech demo showcasing the engine P2P networking capabilities,
                which can be found at <a
                    href="https://github.com/NostrGameEngine/sea-of-nostriches-demo/releases/tag/1.0.0">github.com/NostrGameEngine/sea-of-nostriches-demo</a>
            </p>
        </x-milestone>

        <x-task t="tick" fact='<a target="_blank"
                        href="https://github.com/NostrGameEngine/nostrads">nostrads</a> standalone library'>
            a privacy-preserving adsframework is built on top of nostr
        </x-task>

        <x-task t="tick" fact='<a target="_blank"
                        href="https://ngengine.org/docs/ads/">nge-ads</a> engine module'>
            the ad framework is integrated into the engine for in-game, immersive advertising
        </x-task>

        <x-task t="tick">
            context-aware advertising support is achieved by enabling developers to create metadata areas
            within the virtual world of their games
        </x-task>


        <x-milestone t="tick" link="https://github.com/NostrGameEngine/ngengine/releases/tag/0.1.1"
            title="v0.1.x In-Game Ads" img="imgs/nge-v01.gif">
            <p>
                This release brings many bug fixes and improvements, but the main feature is in-game advertising
                powered by the
                <a href="https://nostr-ads.ngengine.org/" target="_blank">nostrads protocol</a>, designed to bring ads
                to nostr in a privacy-friendly and permissionless
                way.
            </p>
            <p>
                This release is accompanied by a tech demo showcasing the ad system in action
                <a href="https://github.com/NostrGameEngine/adcity-demo"
                    target="_blank">github.com/NostrGameEngine/adcity-demo</a>
            </p>
        </x-milestone>

        <x-task t="tick" fact='<a href="https://github.com/NostrGameEngine/ngengine/tree/master/nge-android"
                            target="_blank">nge-android</a> engine module'>
            android support
        </x-task>
        <x-task t="tick" fact='<a href="https://github.com/NostrGameEngine/ngengine/tree/master/nge-web"
                                        target="_blank">nge-web</a> engine module'>
            webgl2 based renderer and browser support
        </x-task>
        <x-milestone   title="v0.2.x" img="imgs/web.webp">
            <p>
                At this stage the engine has been fully ported to TeaVM and Android.
                <br>
                Games and apps built with Nostr Game Engine can now be deployed to:
            <ul>
                <li>Windows</li>
                <li>Linux</li>
                <li>Android</li>
                <li>MacOS</li>
                <li><b>Web Browsers</b></li>
            </ul>
            The <a href="https://github.com/NostrGameEngine/nge-app-template">template application</a> is updated to
            support the new build targets.
            All the previous demos are ported over to the new template and built for the web platform.
            </p>

        </x-milestone>


    </div>
</section>