<section>
    <x-title>RoadMap</x-title>    
    <p>
    Nostr Game Engine develops in phases, each adding new capabilities.
    <br>
    Some features roll out earlier than their milestone, especially those needed
     for demos or experiments, check the roadmap for <span style="color:var(--accent-purple);">highlighted</span> items to see which
        features are already available.
    </p>
    <x-roadmap1></x-roadmap1>
    
    <x-separator></x-separator>
    <h2>Second Phase</h2>
    <!-- <i>2025/10/10</i> -->

    <p>
        The second phases of development begins
    </p>
    <x-separator></x-separator>
    
    <x-roadmap2></x-roadmap2>

    <x-separator></x-separator>
    <h2>Educational Interlude</h2>
    <p>
        Enough features are in place to start building interesting games and apps.
        <br>
        We'll take a break from adding new features to focus on education and outreach by creating
        detailed tutorials and videos that showcase the engine capabilities and help new developers get started building nostr
        powered games and applications.
    </p>
    <x-separator></x-separator>

    <x-roadmap3></x-roadmap3>

</section>