  @import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

  :root {
    --dark-purple: #1B0629;
    --medium-purple: #3E1E68;
    --light-purple: #8357C5;
    --accent-purple: #E75AFF;
    --glow-purple: #C47AFF;
    --text-color: #E0D5FF;
    --neon-blue: #00F0FF;
    --neontoshi: #F7931A;
    
    --glow-purpleA: rgba(195, 122, 255, 0.5);
    --neon-blueA: rgba(0, 238, 255, 0.4);
    --neon-blueA2:rgba(0, 238, 255, 0.082);
  }




  /** ANIMS */
  @keyframes pulse-glow {
      0% {
          box-shadow: 0 0 10px var(--neon-blue);
      }

      100% {
          box-shadow: 0 0 20px var(--glow-purple);
      }
  }

  @keyframes rbgglitch {
      0% {
          opacity: 0.2;
          color: transparent;
          text-shadow: 0 0 1px var(--accent-purple), 0 0 1px var(--glow-purple);
      }

      3% {
          opacity: 0.2;
          color: transparent;
          text-shadow: 0 0 1px var(--accent-purple), 0 0 1px var(--glow-purple), 5px 2px 1px var(--neon-blue);
      }

      6% {
          opacity: 0.2;
          color: transparent;
          text-shadow: 0 0 1px var(--accent-purple), 0 0 1px var(--glow-purple), -5px -2px 1px var(--neon-blue);
      }

      7% {
          opacity: 1;
          color: inherit;
          text-shadow: none;
      }


  }

  html {
      background: var(--dark-purple);
  }

  * {
      box-sizing: border-box;
  }

  body {

      background: var(--dark-purple);
      background: radial-gradient(circle, rgba(43, 0, 57, 1) 0%, rgba(12, 3, 29, 1) 100%);
      color: var(--text-color);
      font-family: 'Electrolize', sans-serif;
      margin: 0;
      padding: 0;
      text-align: center;
      text-shadow: 0 0 8px var(--glow-purpleA);
      font-size: 1rem;
      min-height: 100vh;
  }

  header,
  main {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 95vw;
      padding: 0;
      margin: 0 auto;
      position: relative;
      row-gap: 1rem;
      max-width: 1450px;
  }

  main {
      margin-top: 4rem;
  }


  header {
      width: 98vw;
      max-width: 1500px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      padding: 0.2rem;
      padding-left: 2rem;
      padding-right: 2rem;
      transition: background-color 0.5s ease;
      border-radius: 0.5rem;
      margin-top: 1rem;
  }

  header> :first-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      column-gap: 1rem;
  }

  header> :first-child>* {
      z-index: 2;
  }

  header .logo {
      z-index: 1;
  }


  header.sticky {
      position: fixed;
      background-color: var(--dark-purple);
      z-index: 999;
  }

  body {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  a,
  a:hover,
  a:visited {
      color: var(--accent-purple);
      font-weight: bold;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
  }



  a:hover {
      color: var(--neon-blue);
      text-shadow: 0 0 8px var(--neon-blue);
  }

  h1 a,
  h1 a:visited {
      color: inherit;

  }

  h1,
  h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: min(3rem, 10vw);
      margin: 0;
      padding: 0;

  }

  h2 {
      font-size: 1.5rem;
  }

  .timeline {
      position: relative;
      width: 100%;
      margin: 0 auto;
  }

  .timeline::after {
      content: '';
      position: absolute;
      width: 0.2rem;
      background-color: var(--medium-purple);
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -0.1rem;
  }

  .milestone::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      right: -1.2rem;
      background-color: var(--accent-purple);
      border: 0.2rem solid var(--medium-purple);
      box-shadow: 0 0 1rem var(--accent-purple), 0 0 2rem var(--glow-purple);
      top: 1rem;
      border-radius: 50%;
      filter: grayscale(80%);
  }

  .milestone.tick::after {
        animation: pulse-glow 2s infinite alternate;
  }

  .task::after {
      content: '';
      position: absolute;
      width: 1rem;
      height: 1rem;
      left: -0.7rem;
      background-color: var(--accent-purple);
      border: 0.2rem solid var(--medium-purple);
      top: 1rem;
      border-radius: 50%;
      filter: grayscale(80%);

  }

  .milestone, .task{
    opacity:0.6;
  }

  .milestone.tick, .task.tick{
    opacity:1;
  }

  .tick::after {
      filter: grayscale(0%) !important;
  }

  article h1,
  article h2,
  article h3 {
      text-align: left;
  }


  .warning{
    border: 2px dotted var(--accent-purple);
    padding:2rem;
    border-radius:0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.8rem;
  }





  card {
      text-align: center;
      display: flex;
      flex-direction: column;
      background-color: var(--medium-purple);
      position: relative;
      border-radius: 0.5rem;
      transition: transform 0.3s ease;
  }

  article {
      text-align: left;

  }

  card>* {
      padding: 1rem;
  }


  card:hover {
      transform: scale(1.02);

  }





  .task,
  .milestone {

      padding-left: 0;
      padding-right: 2.5rem;
      position: relative;
      width: 50%;
      cursor: pointer;
      box-sizing: border-box;
      z-index: 8;
      padding-top: 1rem;
      padding-bottom: 1rem;

  }

  .task {
      padding-right: 0;
      padding-left: 2.5rem;
      z-index: 2;
  }




  .task {

      left: 50%;
  }

  @media (max-width: 1000px) {
 

      .milestone,
      .task {
          left: 0;
      }

      .task::after {
          left: 0;
      }


      .timeline::after {
          content: '';
          left: 100%;
      }

      .task,
      .milestone {
          padding-left: 0;
          padding-right: 2.5rem;
          width: 100%;
          cursor: pointer;

      }

      .task::after {

          left: unset;
          right: -0.7rem;

      }

      header {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          row-gap: 1rem;
      }

      header> :first-child {
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }

      header .logo {
          margin-bottom: -3rem;
          opacity: 0.9;

      }

      header nav {
          margin-top: 2.4rem;
          gap:2rem;
      }

      section.hero {
          flex-wrap: wrap;
      }
  }




  article img,
  article video
  {
      max-width: 100%;
      margin: auto;
      display: block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0.5rem;
      margin-top: 2rem;
      box-shadow: 0 0 1rem var(--glow-purpleA);
  }


  .tbd,
  .disabled {
      opacity: 0.7;
      filter: grayscale(100%);


  }

  .task.tbd {
      margin-top: 2rem;
      margin-bottom: 3rem;
  }

  .milestone article:before {
      content: "MILESTONE";
      position: absolute;
      top: 0rem;
      right: 0;
      background: var(--dark-purple);
      padding: 0.3rem;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 0.7rem;
      font-weight: bold;
  }


  hr {
      border: none;
      border-top: 2rem dotted var(--medium-purple);
      max-width: min(50vw, 15rem);
      opacity: 0.5;
      width: min(20rem, 90vw);
      margin-top: 4rem;
      margin-bottom: 4rem;


  }


  section {
      width: 100%;
      position: relative;
  }

  section,
  .v {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 1rem;
      position: relative;
  }

  .h {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      column-gap: 1rem;
      position: relative;
      flex-wrap: wrap;

  }

  .cards {
      display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 450px), 1fr));
      gap: 1rem;
        grid-auto-rows: 1fr;
            align-items: stretch;
      width: 100%;
  }

  section ul {
      padding-left: 1rem;
  }

  sub {
      font-size: 0.8rem;
      background-color: var(--dark-purple);
      color: var(--text-color);
      padding: 0.3rem;
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      margin-top: 1.4rem;
      margin-bottom: 1.4rem;
      display: inline-block;
      border-radius: 0.5rem;
  }

  card sub {
      right: 0;
      bottom: 0;
      margin: 0;
      border-radius: 0;
    display: block;
    margin-top: auto;
      align-self: flex-end;
  }


  ul {
      text-align: left;
  }

  p:first-child {
      margin-top: 0;
  }

  p:last-child {
      margin-bottom: 0;
  }

  nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 1rem;

  }

  nav a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      line-height: 80%;
  }

  nav a ion-icon {
      font-size: 1.7rem;
      margin-bottom: 0.2em;
      /* margin-right: 0.7rem; */
  }

  nav a.highlight {
      background-color: var(--dark-purple);
      padding: min(1.2rem, 5vw);
      padding-left: min(2rem, 8vw);
      padding-right: min(3rem, 10vw);
      border-radius: 0.5rem;
      color: var(--accent-purple);
      margin: 0;
      flex-direction: row;
      font-size: min(2rem, 8vw);
      /* min-width: 20vw; */
  }

  nav a.highlight ion-icon {
      margin-bottom: 0em;

      font-size: min(2.5rem, 10vw);
      margin-right: 0.7rem;
  }

  nav a.highlight:hover {
      text-shadow: none;
      filter: drop-shadow(0.4rem 0.2rem 0.4rem var(--glow-purpleA));
  }




  .logo {
      display: block;
      background: url('/nge-nobg1024.webp') no-repeat center/cover;
      width: 6rem;
      height: 6rem;



  }

  h3 {
      font-size: inherit;
  }

  h1,
  h2,
  h3 {
      text-shadow: 0.1rem 0.1rem 0.2rem var(--neon-blueA), -0.1rem -0.1rem 0.2rem var(--glow-purpleA);
  }


  section.hero {
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: stretch;
      column-gap: 2rem;
      position: relative;
      min-height: 34rem;
  }

  section.hero>* {
      z-index: 5;
      position: relative;
      flex-grow: 2;
      padding: 1rem;
  }



  section.hero>*.content {
      max-width: 1000px
  }

  section.hero>*:last-child {
      flex-grow: 4;
  }

  section.hero h3 {
      font-size: min(2rem, 15vw);
  }

  .cover-bg,
  .cover-bg-blurred {
      position: absolute !important;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: 2 !important;
      opacity: 0.7;
      border-radius: 0.5rem;
  }

  .cover-bg-blurred {
      z-index: 1 !important;
      filter: blur(12rem);
      opacity: 0.2;
  }

  /*coinflip animation for images*/

  @keyframes coinflip {
      0% {
          transform: rotateY(0deg);
      }

      50% {
          transform: rotateY(180deg);
      }

      100% {
          transform: rotateY(360deg);
      }
  }

  @keyframes rbgglitchimage {
      0% {
          opacity: 0.2;
          color: transparent;
          filter: hue-rotate(0deg);
      }

      3% {
          opacity: 0.2;
          color: transparent;
          filter: hue-rotate(120deg);
      }

      6% {
          opacity: 0.2;
          color: transparent;
          filter: hue-rotate(240deg);
      }

      7% {
          opacity: 1;
          color: inherit;
          text-shadow: none;
          filter: hue-rotate(0deg);
      }


  }

  .x-icon {
      display: inline-block;
      vertical-align: middle;
      background-color: var(--light-purple);
  }

  .x-icon-container {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      font-size: 0.9rem;
      justify-content: center;
      align-items: center;
  }


.t-icon {
    color: var(--light-purple);
}

  h1 .small {
      font-size: 0.9rem;
      color: var(--accent-purple);
      text-shadow: none;
  }



  .hero div:first-child {
      flex: 2;
      max-width: 60%;
      /* Limit text width */
  }

  .hero nav {
      flex-shrink: 0;
      flex-grow: 1;
      min-width: 40%;
  }

  .x-title {

      margin-top: 7rem;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .x-title h1 {
      font-size: 3.5rem;
      margin: 0;
      padding: 0;
  }


  svg.separator {
      opacity: 0.5;

      width: min(15rem, 90vw);
      display: block;
  }

  .x-title svg.separator {
      opacity: 0.5;
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: min(19rem, 90vw);
      display: block;
  }
  article{
    height:100%;
  }
  card footer{
    margin:0;
    margin-top:auto
}
  footer {
      margin-top: 6rem;
      margin-bottom: 2rem;
      font-size: 0.9rem;

  }

  .invisible{
    opacity:0;

  }

  section.c{
    align-items: center;
    justify-content: center;
  }

  card.comfy{
    padding: 1rem;
    padding-top:0.6rem;
    padding-bottom: 0.6rem;
    min-width: 40%;
    margin:1rem;
    font-weight: bold;
    text-align: center;
  }

  input[type="text"] {
    padding:0.4rem;
    background: var(--medium-purple);
    border: 2px solid var(--glow-purple);
    border-radius: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: inherit;
    font-weight: inherit;
    color:var(--text-color);
    
    

}

input[type="text"]:focus {
    outline: none;
    border-color: var(--accent-purple);
    box-shadow: 0 0 5px var(--glow-purple);
}

button{
    margin-top: 1rem;
    width: 100%;
    font-size: 1.0rem;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--light-purple);
    border: 2px solid var(--light-purpleA);
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: var(--dark-purple);
    box-shadow: 0.1rem 0.1rem 0.2rem var(--neon-blueA2),
    -0.1rem -0.1rem 0.4rem var(--glow-purpleA);

    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: var(--glow-purple);
    color: var(--dark-purple);

 box-shadow: 0.1rem 0.1rem 0.2rem var(--glow-purpleA),
    -0.1rem -0.1rem 0.4rem var(--neon-blueA2);
}

img.bnr{
    max-width: min(600px,90vw);
    border-radius: 0.3rem;
    
}
h3.compact{
    max-width: 400px;
}
h3.medium-compact {
    max-width: 800px;
}
h3.left{
    text-align: left;
}

.h .top {
    align-self: flex-start;
}